node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea/
.vscode/
# package-lock.json ko track karna zaroori hai production ke liye
# isliye ise yahan se hata diya gaya hai.
google-services.json
